.switch-btn {
  width: 45%;
  margin-left: 2.5%;
  margin-top: 15px;
}

.friends-container {
  width: 90%;
  margin-left: 5%;
}

.group-chats-container {
  width: 90%;
  margin-left: 5%;
}
