.header {
  text-align: center;
}

.app-container {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

.chats-container {
  grid-column: 1;
  background-color: #69f0ae;
  border-radius: 15px;
}

.chat-container {
  grid-column: 2;
}

.settings-container {
  grid-column: 3;
  background-color: #69f0ae;
  border-radius: 15px;
}
